/* Footer.module.css */
.footer {
  background-color: #282c34;
  padding: 20px;
  text-align: center;
  color: white;
  width: 100%; /* Ensure it takes full width */
  box-sizing: border-box; /* Ensure padding is included in the width */
}

.logo {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.logo img {
  max-width: 50px;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.navLink {
  margin: 0 1rem;
  text-decoration: none;
  color: #0070f3;
}
