@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #2c0328;
  --foreground: #f333dd;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #f333dd;
  }
}

/* globals.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0a0a0a;
  color: #f333dd;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  width: 100%;
}

header, footer {
  width: 100%;
}

main {
  flex: 1; /* This makes the main content take up the remaining space */
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main-content {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%; /* Ensure it takes full width */
  max-width: 800px;
  margin: 0 auto;
  box-sizing: border-box; /* Ensure padding is included in the width */
}

.footer {
  background-color: #282c34;
  padding: 10px;
  text-align: center;
  color: white;
  width: 100%; /* Ensure it takes full width */
  margin: 0 auto;
  box-sizing: border-box; /* Ensure padding is included in the width */
}